.favorite-btn {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

.favorite-btn i.fa-heart {
  color: #ff0000; /* 하트 색 */
  font-size: 30px; /* 크기 */
  margin-top: 2px;
  margin-left: 1px;
}

.favorite-btn i.active {
  color: red; /* 클릭 시 활성화 색 */
}

.favorite-btn i {
  color: gray;
  cursor: pointer;
  transition: color 0.2s;
}
.favorite-btn i.active {
  color: red;
}
