/* 2171007 Kim Yumin */
body {
  background: linear-gradient(to right, #e2e9fb, #d0e5ff);
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  height: 50px;
  margin-bottom: 30px;
  border-radius: 30px;
  padding: 20px 40px;
  color: white;
}

.back-btn {
  width: 90px;
  padding: 8px 14px;
  margin: 50px 0px 30px;
  background: transparent;
  border: none;
  font-size: 16px;
}

.l-container {
  height: 100%;
  overflow-y: hidden;
}

.l-content-list {
  height: 800px;
  padding: 10px;
}

.l-toolbar__title {
  padding: 20px;
}

.scroll::-webkit-scrollbar {
  width: 0px;
}

.favorite-list {
  overflow-y: scroll;
  max-height: 800px;
  margin-right: 15px;
}

.favorite-list__item {
  display: flex;
  flex-direction: row;
  background: white;
  width: 95%;
  height: 100px;
  border-radius: 30px;
  margin-bottom: 20px;
  padding: 20px;
  justify-content: space-between;
}

.restaurant-item__info {
  flex: 0.9;
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  align-items: center;
}

.restaurant-item__info img {
  width: 70px;
  height: 70px;
  border-radius: 8px;
  margin-right: 15px;
  object-fit: cover;
}

.restaurant-item__region {
  color: grey;
}

.restaurant-item__actions {
  margin-top: 35px;
  margin-right: 15px;
}
