/* ========== 기본 설정 ========== */
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #e2e9fb;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* ========== 레이아웃 ========== */
.container {
  width: 1200px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
  height: 100px;
  margin-bottom: 30px;
  border-radius: 30px;
  padding: 20px 40px;
  color: white;
  background: linear-gradient(to right, #61a5fa, #3a7de9);
}

/* ========== 공통 요소 ========== */
.card {
  border-radius: 12px;
  background: white;
}

.btn {
  width: 130px;
  cursor: pointer;
  border: none;
  border-radius: 8px;
}

.stars i {
  color: gold;
  font-size: 1.8rem;
  margin-right: 5px;
}

.stars.small i {
  font-size: 1.1rem;
  margin-bottom: 0;
  margin-right: 2px;
}

.stars i:hover {
  transform: scale(1.1);
  transition: 0.2s;
}

.shadow {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

/* ========== 헤더 ========== */
.restaurant-name {
  font-size: 2rem;
  font-weight: 700;
}

.header-btns {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.header-btn {
  background-color: #f2f3f7;
  padding: 6px 14px;
  color: #3a7de9;
  font-size: 16px;
}

/* ========== 본문 ========== */

.back-btn {
  width: 90px;
  padding: 8px 14px;
  margin: 50px 0px 30px;
  background: transparent;
  border: none;
  font-size: 16px;
}

.content {
  display: flex;
  gap: 30px;
  height: 600px;
  flex-wrap: wrap;
}

/* 메뉴 카드 */
.menu-card {
  padding: 20px 40px;
  flex: 0.5;
  display: flex;
  flex-direction: column;
  border-radius: 30px;
}

.menu-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.menu-order select {
  border-color: #e9e9e9;
  border-radius: 8px;
  padding: 8px 12px;
  background: white;
  font-size: 14px;
}

.menu-List {
  overflow-y: auto;
  padding-right: 15px;
}

.menu-List::-webkit-scrollbar {
  width: 12px;
}

.menu-List::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 12px;
  border: 2px solid white;
}

.menu-List::-webkit-scrollbar-track {
  background: #f5f5f5;
  border-radius: 10px;
}

.subtitle {
  color: gray;
  margin: 0px;
}

.menu-item {
  display: flex;
  align-items: center;
  padding: 15px;
  border-radius: 12px;
  transition: all 0.3s ease;
  position: relative;
  margin-bottom: 5px;
}

.menu-item:hover {
  background: linear-gradient(45deg, #ffffff, #eeeeee);
  transform: translateX(6px);
  box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.2);
}

.menu-item img {
  width: 70px;
  height: 70px;
  border-radius: 8px;
  margin-right: 15px;
  object-fit: cover;
}

.menu-info {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.menu-name {
  font-weight: bold;
}

.menu-price {
  color: white;
  font-weight: 600;
  background: linear-gradient(to right, #f39600, #ed8b49);
  border-radius: 30px;
  text-align: center;
  padding: 3px 0px;
  width: 80px;
  font-size: 14px;
}

/* 리뷰 카드 */
.review-card {
  flex: 0.5;
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: transparent;
  text-transform: lowercase;
}

.review-total {
  height: 240px;
  padding: 20px 40px;
  border-radius: 30px;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.review-total h2 {
  margin-bottom: 0px;
}

.review-count {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 5px;
}

.review-btn {
  width: 160px;
  align-self: flex-end;
  background-color: #73c863;
  color: white;
  padding: 15px 20px;
  font-weight: bold;
  font-size: 17px;
  transition: all 0.2s ease;
}

.review-btn:hover {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.review-list {
  height: 300px;
  background-color: transparent;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.review-item {
  padding: 27px 40px;
  background-color: white;
  border-radius: 30px;
}

.review-text {
  color: #555555;
  font-size: 1.1rem;
}

.review-date {
  text-align: right;
  font-size: 1rem;
  color: #666;
  margin-top: 4px;
}
