/* 2171007 Kim Yumin */
/* ========== 기본 설정 및 레이아웃 공통 ========== */
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #e2e9fb;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.l-container {
  width: 1200px;
  display: flex;
  flex-direction: column;
}

.l-toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* ========== 공통 요소 (버튼, 카드, 그림자, 스크롤) ========== */
.card {
  border-radius: 12px;
  background: white;
}

.btn {
  width: 130px;
  cursor: pointer;
  border: none;
  border-radius: 8px;
}

.shadow {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.invisible {
  visibility: hidden;
}

.back-btn {
  width: 90px;
  padding: 8px 14px;
  margin: 50px 0px 30px;
  background: transparent;
  border: none;
  font-size: 16px;
}

.scroll::-webkit-scrollbar {
  width: 12px;
}

.scroll::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 12px;
  border: 2px solid white;
}

.scroll::-webkit-scrollbar-track {
  background: #f5f5f5;
  border-radius: 10px;
}

/* ========== 별점 아이콘 공통 스타일 ========== */
.stars i {
  color: gold;
  font-size: 1.8rem;
  margin-right: 5px;
}

.stars.small i {
  font-size: 1.1rem;
  margin-bottom: 0;
  margin-right: 2px;
}

.stars i:hover {
  transform: scale(1.1);
  transition: 0.2s;
}

/* ========== 하트 아이콘 (즐겨찾기) 공통 스타일 ========== */
.favorite-btn {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

.favorite-btn i.fa-heart {
  color: #ff0000;
  font-size: 30px;
  margin-top: 2px;
  margin-left: 1px;
}

.favorite-btn i {
  color: gray;
  cursor: pointer;
  transition: color 0.2s;
}

.favorite-btn i.active {
  color: red;
}
